
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read access to all files
    match /{allPaths=**} {
      allow read: if true;
    }

    // Allow writes only to the profile_images directory
    match /profile_images/{allPaths=**} {
      allow write: if true;
    }
  }
}
